<h3 class="job-postings__title">Hot Jobs</h3>

<div class="row">
  <div class="job-postings__position">
    <div class="job-postings__position-wrapper">
      <div class="job-postings__position-title">
        <a href="{{ "/assets/pdf/careers/Model Base Systems Engineer (MBSE) - 20180226C.pdf" | relative_url }}" target="_blank">Model Base Systems Engineer</a>
      </div>
      <div class="job-postings__position-id">
        ID: 20180226C<br />
        <i class="fas fa-map-marker-alt"></i> San Diego, CA
      </div>
    </div>
  </div>
  <div class="job-postings__position">
    <div class="job-postings__position-wrapper">
      <div class="job-postings__position-title">
        <a href="{{ "/assets/pdf/careers/Technical Recruiter - 20180301A.pdf" | relative_url }}" target="_blank">Technical Recruiter</a>
      </div>
      <div class="job-postings__position-id">
        ID: 20180301A<br />
        <i class="fas fa-map-marker-alt"></i> San Diego, CA
      </div>
    </div>
  </div>
  <div class="job-postings__position">
    <div class="job-postings__position-wrapper">
      <div class="job-postings__position-title">
        <a href="{{ "/assets/pdf/careers/DevOps Engineer - 20180216C.pdf" | relative_url }}" target="_blank">DevOps Engineer</a>
      </div>
      <div class="job-postings__position-id">
        ID: 20180216C<br />
        <i class="fas fa-map-marker-alt"></i> San Diego, CA
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="job-postings__position">
    <div class="job-postings__position-wrapper">
      <div class="job-postings__position-title">
        <a href="{{ "/assets/pdf/careers/Contracts_Pricing Administrator - 20180214A.pdf" | relative_url }}" target="_blank">Contracts/Pricing Administrator</a>
      </div>
      <div class="job-postings__position-id">
        ID: 20180214A<br />
        <i class="fas fa-map-marker-alt"></i> San Diego, CA
      </div>
    </div>
  </div>
  <div class="job-postings__position">
    <div class="job-postings__position-wrapper">
      <div class="job-postings__position-title">
        <a href="{{ "/assets/pdf/careers/Electronics Technician I I - 20180205G.pdf" | relative_url }}" target="_blank">Electronics Technician II</a>
      </div>
      <div class="job-postings__position-id">
        ID: 20180205G<br />
        <i class="fas fa-map-marker-alt"></i> New Orleans, LA
      </div>
    </div>
  </div>
  <div class="job-postings__position">
    <div class="job-postings__position-wrapper">
      <div class="job-postings__position-title">
        <a href="{{ "/assets/pdf/careers/Drafter_AutoCAD Operator - 20180116C.pdf" | relative_url }}" target="_blank">Drafter/AutoCAD Operator</a>
      </div>
      <div class="job-postings__position-id">
        ID: 20180116C<br />
        <i class="fas fa-map-marker-alt"></i> Charleston, SC
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="job-postings__position">
    <div class="job-postings__position-wrapper">
      <div class="job-postings__position-title">
        <a href="{{ "/assets/pdf/careers/Integrated Master Scheduler - 20180105C1.pdf" | relative_url }}" target="_blank">Integrated Master Scheduler</a>
      </div>
      <div class="job-postings__position-id">
        ID: 20180105C1<br />
        <i class="fas fa-map-marker-alt"></i> San Diego, CA
      </div>
    </div>
  </div>
  <div class="job-postings__position">
    <div class="job-postings__position-wrapper">
      <div class="job-postings__position-title">
        <a href="{{ "/assets/pdf/careers/MS Project Specialist - 20180105C3.pdf" | relative_url }}" target="_blank">MS Project Specialist</a>
      </div>
      <div class="job-postings__position-id">
        ID: 20180105C3<br />
        <i class="fas fa-map-marker-alt"></i> San Diego, CA
      </div>
    </div>
  </div>
  <div class="job-postings__position">
    <div class="job-postings__position-wrapper">
      <div class="job-postings__position-title">
        <a href="{{ "/assets/pdf/careers/Financial Management Analyst - 20171208H.pdf" | relative_url }}" target="_blank">Financial Management Analyst</a>
      </div>
      <div class="job-postings__position-id">
        ID: 20171208H<br />
        <i class="fas fa-map-marker-alt"></i> San Diego, CA
      </div>
    </div>
  </div>
</div>
