<h3 class="job-postings__title">Port Hueneme, CA</h3>
<div class="row">
  <div class="job-postings__position">
    <div class="job-postings__position-wrapper">
      <div class="job-postings__position-title">
        <a href="">Jr. Financial Program Analyst</a>
      </div>
      <div class="job-postings__position-id">
        ID: 20180205H
      </div>
    </div>
  </div>
  <div class="job-postings__position">
    <div class="job-postings__position-wrapper">
      <div class="job-postings__position-title">
        <a href="">Principal Analyst</a>
      </div>
      <div class="job-postings__position-id">
        ID: 20170804E
      </div>
    </div>
  </div>
  <div class="job-postings__position">
    <div class="job-postings__position-wrapper">
      <div class="job-postings__position-title">
        <a href="">Technical Support Specialist II</a>
      </div>
      <div class="job-postings__position-id">
        ID: 20180302L10
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="job-postings__position">
    <div class="job-postings__position-wrapper">
      <div class="job-postings__position-title">
          Director of Operations Support/Assistant Customer Technical Representative Support
      </div>
      <div class="job-postings__position-id">
        id: 20180205H
      </div>
    </div>
  </div>
  <div class="job-postings__position">
    <div class="job-postings__position-wrapper">
      <div class="job-postings__position-title">
          Director of Operations Support/Assistant Customer Technical Representative Support
      </div>
      <div class="job-postings__position-id">
        id: 20180205H
      </div>
    </div>
  </div>
  <div class="job-postings__position">
    <div class="job-postings__position-wrapper">
      <div class="job-postings__position-title">
          Director of Operations Support/Assistant Customer Technical Representative Support
      </div>
      <div class="job-postings__position-id">
        id: 20180205H
      </div>
    </div>
  </div>
</div>
