<h3 class="job-postings__title">San Diego, CA</h3>
<div class="row">
  <div class="job-postings__position">
    <div class="job-postings__position-wrapper">
      <div class="job-postings__position-title">
        <a href="{{ "/assets/pdf/careers/Contracts_Pricing Administrator - 20180214A.pdf" | relative_url }}">Contracts/Pricing Administrator</a>
      </div>
      <div class="job-postings__position-id">
        ID: 20180214A
      </div>
    </div>
  </div>
  <div class="job-postings__position">
    <div class="job-postings__position-wrapper">
      <div class="job-postings__position-title">
        <a href="{{ "/assets/pdf/careers/Contracts_Pricing Administrator - 20180214A.pdf" | relative_url }}">DevOps Engineer</a>
      </div>
      <div class="job-postings__position-id">
        ID: 20180216A
      </div>
    </div>
  </div>
  <div class="job-postings__position">
    <div class="job-postings__position-wrapper">
      <div class="job-postings__position-title">
        <a href="">Director of Operations Support/Assistant Customer Technical Representative Support</a>
      </div>
      <div class="job-postings__position-id">
        ID: 20180205H
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="job-postings__position">
    <div class="job-postings__position-wrapper">
      <div class="job-postings__position-title">
        <a href="">Drafter/AutoCAD Operator</a>
      </div>
      <div class="job-postings__position-id">
        ID: 20170512C
      </div>
    </div>
  </div>
  <div class="job-postings__position">
    <div class="job-postings__position-wrapper">
      <div class="job-postings__position-title">
        <a href="">Financial Management Analyst</a>
      </div>
      <div class="job-postings__position-id">
        ID: 20171208H
      </div>
    </div>
  </div>
  <div class="job-postings__position">
    <div class="job-postings__position-wrapper">
      <div class="job-postings__position-title">
        <a href="">Integrated Master Scheduler</a>
      </div>
      <div class="job-postings__position-id">
        id: 20180105C1
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="job-postings__position">
    <div class="job-postings__position-wrapper">
      <div class="job-postings__position-title">
        <a href="">MS Project Specialist</a>
      </div>
      <div class="job-postings__position-id">
        ID: 20180105C3
      </div>
    </div>
  </div>
  <div class="job-postings__position">
    <div class="job-postings__position-wrapper">
      <div class="job-postings__position-title">
        <a href="">Program Manager</a>
      </div>
      <div class="job-postings__position-id">
        ID: 20171011J
      </div>
    </div>
  </div>
  <div class="job-postings__position">
    <div class="job-postings__position-wrapper">
      <div class="job-postings__position-title">
        <a href="">Integrated Master Scheduler</a>
      </div>
      <div class="job-postings__position-id">
        id: 20180105C1
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="job-postings__position">
    <div class="job-postings__position-wrapper">
      <div class="job-postings__position-title">
        <a href="">Model Base Systems Engineer (MBSE)</a>
      </div>
      <div class="job-postings__position-id">
        ID: 20180226C
      </div>
    </div>
  </div>
  <div class="job-postings__position">
    <div class="job-postings__position-wrapper">
      <div class="job-postings__position-title">
        <a href="">MS Project Specialist</a>
      </div>
      <div class="job-postings__position-id">
        ID: 20180105C3
      </div>
    </div>
  </div>
  <div class="job-postings__position">
    <div class="job-postings__position-wrapper">
      <div class="job-postings__position-title">
        <a href="">Program Manager</a>
      </div>
      <div class="job-postings__position-id">
        ID: 20171011J
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="job-postings__position">
    <div class="job-postings__position-wrapper">
      <div class="job-postings__position-title">
        <a href="">Project Manager</a>
      </div>
      <div class="job-postings__position-id">
        ID: 20170520C
      </div>
    </div>
  </div>
  <div class="job-postings__position">
    <div class="job-postings__position-wrapper">
      <div class="job-postings__position-title">
        <a href="">MS Project Specialist</a>
      </div>
      <div class="job-postings__position-id">
        ID: 20180105C3
      </div>
    </div>
  </div>
  <div class="job-postings__position">
    <div class="job-postings__position-wrapper">
      <div class="job-postings__position-title">
        <a href="">Program Manager</a>
      </div>
      <div class="job-postings__position-id">
        ID: 20171011J
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="job-postings__position">
    <div class="job-postings__position-wrapper">
      <div class="job-postings__position-title">
        <a href="">Project Manager</a>
      </div>
      <div class="job-postings__position-id">
        ID: 20170520C
      </div>
    </div>
  </div>
  <div class="job-postings__position">
    <div class="job-postings__position-wrapper">
      <div class="job-postings__position-title">
        <a href="">Technical Recruiter</a>
      </div>
      <div class="job-postings__position-id">
        ID: 20180301A
      </div>
    </div>
  </div>
  <div class="job-postings__position">
    <div class="job-postings__position-wrapper">
      <div class="job-postings__position-title">
        <a href="">Word Processor/Administrator</a>
      </div>
      <div class="job-postings__position-id">
        ID: 20180221A
      </div>
    </div>
  </div>
</div>
