<footer class="site-footer">
  <div class="container">
    <div class="div">
      White logo
      <p>{{ site.description | escape }}</p>
    </div>
    <div class="">
      <div class="">
        Company
      </div>
      <ul class="nav flex-column">
        {% include company-nav.html %}
      </ul>
    </div>
  </div>
  <div class="container">
    <div class="div">
      <div>
        Copyright &copy; 1991-{{ 'now' | date: "%Y" }} INDUS Technology, Inc. All Rights Reserved.
      </div>
      {% include social.html %}
    </div>
  </div>
</footer>

<!-- jQuery first, then Tether, then Bootstrap JS. -->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
