<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- site css -->
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">

  <link rel="icon" type="image/png" href="{{ "/assets/img/favicon-32x32.png" | relative_url }}" sizes="32x32" />
  <link rel="icon" type="image/png" href="{{ "/assets/img/favicon-16x16.png" | relative_url }}" sizes="16x16" />

  <title>INDUS Technology - {{ page.title }}</title>

  {% feed_meta %}
  {% include google-analytics.html %}

  <!-- fontawesome -->
  <script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>
</head>
