// page specific tasks
body.home-page {
  header {
    border-bottom: none;
  }
}

header {
  border-bottom: 1px solid #E5E5E5;
  padding: .5rem 0;

  .container {
    padding-left: 0;
    padding-right: 0;
  }

  .navbar-toggler-right {
    top: 1.25rem;
    outline: none;
  }

  .nav-item {
    margin-right: 30px;

    &:nth-last-child(1) {
      margin-right: 0;
    }
  }

  .navbar-brand-logo {
    width: 150px;
  }

  .navbar-light {
    .navbar-nav {
      .nav-link {
        padding: .75rem 0;
        font-size: 14px;
        text-transform: uppercase;
        color: $brand-primary;
      }

      .btn.btn-primary {
        color: $white;
        padding: .75rem 1rem;
      }
    }
  }
}
