header {
  .navbar-toggler-right {
    top: 1.25rem;
    outline: none;
  }

  .nav-item {
    margin-right: 40px;

    &:nth-last-child(1) {
      margin-right: 0;
    }
  }

  .navbar-light {
    .navbar-nav {
      .nav-link {
        padding: .75rem 0;
        font-size: 14px;
        text-transform: uppercase;
        color: $brand-primary;
      }

      .btn.btn-primary {
        svg {
          margin-right: 5px;
        }

        color: $white;
        padding: .75rem 1rem;
      }
    }
  }
}
