.home-hero {
  background: url("/assets/img/home-hero-bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: $white;
  padding: 10rem 0;

  &__description {
    @include make-col(12);
    @include media-breakpoint-up(md) {
      @include make-col(7);
    }
  }
}

.company-intro {
  background-color: $brand-primary;
  color: $white;
  text-align: center;
  padding: 4rem 0;

  &__description {
    @include make-col(12);
    font-weight: 300;
    line-height: 1.5;

    @include media-breakpoint-up(md) {
      @include make-col(8);
      @include make-col-offset(2);
    }
  }
}

.news-jobs {
  background-color: $soft-blue;
  padding: 2rem 0;

  @include media-breakpoint-up(sm) {
    padding: 4rem 0;
  }

  ul {
    list-style: none;
    padding-left: 0;

    li {
      margin-bottom: 15px;

      &:nth-last-child(1) {
        margin-bottom: 0;
      }
    }
  }

  &__latest-news,
  &__hot-jobs {
    @include make-col(12);
  }

  &__latest-news {
    @include media-breakpoint-up(sm) {
      @include make-col(6);
    }
  }

  &__hot-jobs {
    @include media-breakpoint-up(sm) {
      @include make-col(4);
      @include make-col-offset(1);
    }
  }
}
