.btn.btn-primary {
  svg {
    margin-right: 10px;
  }
}

.container {
  padding: 0 30px;
}

.btn.btn-secondary {
  color: $brand-primary;
  border: 1px solid $brand-primary;
  background-color: transparent;
}
