<table class="table table-bordered">
  <tbody>
    <tr class="table-active">
      <td width="175"><strong>RFP Name:</strong></td>
      <td>SSC Pacific, Office of the Chief Engineer, Code 50E Engineering Support Services</td>
    </tr>

    <tr>
      <td><strong>Task Order#:</strong></td>
      <td>N00178-04-D-4067 7N01</td>
    </tr>

    <tr>
      <td><strong>RFP#:</strong></td>
      <td>N00024-14-R-3180</td>
    </tr>

    <tr>
      <td><strong>Award Date:</strong></td>
      <td>08/01/2014</td>
    </tr>

    <tr>
      <td><strong>Zone:</strong></td>
      <td>6</td>
    </tr>

    <tr>

      <td><strong>Performance Work Statement:</strong></td>
      <td><a href="to_received/7N01/N00178-04-D-4067-7N01 PWS.pdf" target="_new">Performance Work Statement (pdf download)</a></td>
    </tr>

    <tr>
      <td><strong>Current Task Order:</strong></td>
      <td><a href="to_received/7N01/N00178-04-D-4067-7N01-12.pdf" target="_new">Mod 12 (pdf download)</a></td>
    </tr>

    <tr>
      <td><strong>Date Updated:</strong></td>
      <td>08/10/2016</td>
    </tr>
  </tbody>
</table>
