<table class="table table-bordered">
  <tbody>
    <tr class="table-active">
      <td width="175"><strong>RFP Name:</strong></td>
      <td>Technical Engineering and Business Support Services for the NUWC Keyport Detachments of Naval Undersea Warfare Center Division Keyport (NUWCDIVKPT)</td>
    </tr>

    <tr>
      <td><strong>Task Order#:</strong></td>
      <td>N00178-04-D-4067 FY03</td>
    </tr>

    <tr>
      <td><strong>RFP#:</strong></td>
      <td>N00024-09-R-3002</td>
    </tr>

    <tr>
      <td><strong>Award Date:</strong></td>
      <td>04/10/2009</td>
    </tr>

    <tr>
      <td><strong>Zone:</strong></td>
      <td>7</td>
    </tr>

    <tr>

      <td><strong>Performance Work Statement:</strong></td>
      <td>The PWS is included in the Task Order Mod.</td>
    </tr>

    <tr>
      <td><strong>Current Task Order:</strong></td>
      <td><a href="{{ "/assets/pdf/task-orders/FY03/N00178-04-D-4067-FY03-80.pdf" | relative_url }}" target="_new">Mod 80 (pdf download)</a></td>
    </tr>

    <tr>
      <td><strong>Date Updated:</strong></td>
      <td>08/20/2014</td>
    </tr>
  </tbody>
</table>
