<table class="table table-bordered">
  <tbody>
    <tr class="table-active">
      <td width="175"><strong>RFP Name:</strong></td>
      <td>Information Assurance Support for Adaptive Persistent Awareness Systems</td>
    </tr>

    <tr>
      <td><strong>Task Order#:</strong></td>
      <td>N00178-04-D-4067 HR01</td>
    </tr>

    <tr>
      <td><strong>RFP#:</strong></td>
      <td>N00024-15-R-3068</td>
    </tr>

    <tr>
      <td><strong>Award Date:</strong></td>
      <td>09/22/2015</td>
    </tr>

    <tr>
      <td><strong>Zone:</strong></td>
      <td>4</td>
    </tr>

    <tr>

      <td><strong>Performance Work Statement:</strong></td>
      <td>The PWS is included in the Task Order Mod.</td>
    </tr>

    <tr>
      <td><strong>Current Task Order:</strong></td>
      <td><a href="{{ "/assets/pdf/task-orders/HR01/N00178-04-D-4067-HR01-19.pdf" | relative_url }}" target="_new">Mod 19 (pdf download)</a></td>
    </tr>

    <tr>
      <td><strong>Date Updated:</strong></td>
      <td>05/01/2017</td>
    </tr>
  </tbody>
</table>
