<table class="table table-bordered">
  <tbody>
    <tr class="table-active">
      <td width="175"><strong>RFP Name:</strong></td>
      <td>Management Support Services For Naval Surface Warfare Center, Port Hueneme Division NSWC PHD</td>
    </tr>

    <tr>
      <td><strong>Task Order#:</strong></td>
      <td>N00178-04-D-4067 L602</td>
    </tr>

    <tr>
      <td><strong>RFP#:</strong></td>
      <td>N00024-11-R-3089</td>
    </tr>

    <tr>
      <td><strong>Award Date:</strong></td>
      <td>05/31/2011</td>
    </tr>

    <tr>
      <td><strong>Zone:</strong></td>
      <td>6</td>
    </tr>

    <tr>

      <td><strong>Performance Work Statement:</strong></td>
      <td>The PWS is included in the Task Order Mod.</td>
    </tr>

    <tr>
      <td><strong>Current Task Order:</strong></td>
      <td><a href="{{ "/assets/pdf/task-orders/L602/N00178-04-D-4067-L602-32.pdf" | relative_url }}" target="_new">Mod 32 (pdf download)</a></td>
    </tr>

    <tr>
      <td><strong>Date Updated:</strong></td>
      <td>09/10/2014</td>
    </tr>
  </tbody>
</table>
