<table class="table table-bordered">
  <tbody>
    <tr class="table-active">
      <td width="175"><strong>RFP Name:</strong></td>
      <td>Administrative and Technical Support for the Financial Management Departmen</td>
    </tr>

    <tr>
      <td><strong>Task Order#:</strong></td>
      <td>N00178-04-D-4067 N401</td>
    </tr>

    <tr>
      <td><strong>RFP#:</strong></td>
      <td>N00024-13-R-3269</td>
    </tr>

    <tr>
      <td><strong>Award Date:</strong></td>
      <td>09/26/2013</td>
    </tr>

    <tr>
      <td><strong>Zone:</strong></td>
      <td>1</td>
    </tr>

    <tr>

      <td><strong>Performance Work Statement:</strong></td>
      <td>The PWS is included in the Task Order Mod.</td>
    </tr>

    <tr>
      <td><strong>Current Task Order:</strong></td>
      <td><a href="to_received/N401/N00178-04-D-4067-N401-14.pdf" target="_new">Mod 14 (pdf download)</a></td>
    </tr>

    <tr>
      <td><strong>Date Updated:</strong></td>
      <td>04/04/2017</td>
    </tr>
  </tbody>
</table>
