<table class="table table-bordered">
  <tbody>
    <tr class="table-active">
      <td width="175"><strong>RFP Name:</strong></td>
      <td>PMW 160 Installation Management Support of C4ISR Installations</td>
    </tr>

    <tr>
      <td><strong>Task Order#:</strong></td>
      <td>N00178-04-D-4067 NS05</td>
    </tr>

    <tr>
      <td><strong>RFP#:</strong></td>
      <td>N00024-07-R-3397</td>
    </tr>

    <tr>
      <td><strong>Award Date:</strong></td>
      <td>10/01/2007</td>
    </tr>

    <tr>
      <td><strong>Zone:</strong></td>
      <td>6</td>
    </tr>

    <tr>

      <td><strong>Performance Work Statement:</strong></td>
      <td><a href="to_received/NS05/N00178-04-D-4067-NS05 PWS.pdf" target="_new">Performance Work Statement (pdf download)</a></td>
    </tr>

    <tr>
      <td><strong>Current Task Order:</strong></td>
      <td><a href="to_received/NS05/N00178-04-D-4067-NS05-29.pdf" target="_new">Mod 29 (pdf download)</a></td>
    </tr>

    <tr>
      <td><strong>Date Updated:</strong></td>
      <td>10/01/2012</td>
    </tr>
  </tbody>
</table>
