<table class="table table-bordered">
  <tbody>
    <tr class="table-active">
      <td width="175"><strong>RFP Name:</strong></td>
      <td>SPAWAR Comptroller Financial Improvement Program</td>
    </tr>

    <tr>
      <td><strong>Task Order#:</strong></td>
      <td>N00178-04-D-4067 NS09</td>
    </tr>

    <tr>
      <td><strong>RFP#:</strong></td>
      <td>N00024-08-R-3313</td>
    </tr>

    <tr>
      <td><strong>Award Date:</strong></td>
      <td>09/17/2008</td>
    </tr>

    <tr>
      <td><strong>Zone:</strong></td>
      <td>6</td>
    </tr>

    <tr>

      <td><strong>Performance Work Statement:</strong></td>
      <td><a href="{{ "/assets/pdf/task-orders/NS09/N00178-04-D-4067 NS09 PWS.pdf" | relative_url }}" target="_new">Performance Work Statement (pdf download)</a></td>
    </tr>

    <tr>
      <td><strong>Current Task Order:</strong></td>
      <td><a href="{{ "/assets/pdf/task-orders/NS09/N00178-04-D-4067-NS09-09.pdf" | relative_url }}" target="_new">Mod 9 (pdf download)</a></td>
    </tr>

    <tr>
      <td><strong>Date Updated:</strong></td>
      <td>11/03/2011</td>
    </tr>
  </tbody>
</table>
