<table class="table table-bordered">
  <tbody>
    <tr class="table-active">
      <td width="175"><strong>RFP Name:</strong></td>
      <td>PMW 790 Engineering, Logistics, Installation, Integration, Planning and Requirements Support Services</td>
    </tr>

    <tr>
      <td><strong>Task Order#:</strong></td>
      <td>N00178-04-D-4067 NS11</td>
    </tr>

    <tr>
      <td><strong>RFP#:</strong></td>
      <td>N00024-12-R-3124</td>
    </tr>

    <tr>
      <td><strong>Award Date:</strong></td>
      <td>10/01/2012</td>
    </tr>

    <tr>
      <td><strong>Zone:</strong></td>
      <td>6</td>
    </tr>

    <tr>

      <td><strong>Performance Work Statement:</strong></td>
      <td><a href="{{ "/assets/pdf/task-orders/NS11/N00178-04-D-4067-NS11 PWS.pdf" | relative_url }}" target="_new">Performance Work Statement (pdf download)</a></td>
    </tr>

    <tr>
      <td><strong>Current Task Order:</strong></td>
      <td><a href="{{ "/assets/pdf/task-orders/NS11/N00178-04-D-4067-NS11-42.pdf" | relative_url }}" target="_new">Mod 42 (pdf download)</a></td>
    </tr>

    <tr>
      <td><strong>Date Updated:</strong></td>
      <td>07/06/2017</td>
    </tr>
  </tbody>
</table>
