<table class="table table-bordered">
  <tbody>
    <tr class="table-active">
      <td width="175"><strong>RFP Name:</strong></td>
      <td>PMW 740 IISS</td>
    </tr>

    <tr>
      <td><strong>Task Order#:</strong></td>
      <td>N00178-04-D-4067 NS12</td>
    </tr>

    <tr>
      <td><strong>RFP#:</strong></td>
      <td>N00024-14-R-3201</td>
    </tr>

    <tr>
      <td><strong>Award Date:</strong></td>
      <td>12/02/2014</td>
    </tr>

    <tr>
      <td><strong>Zone:</strong></td>
      <td>6</td>
    </tr>

    <tr>

      <td><strong>Performance Work Statement:</strong></td>
      <td><a href="{{ "/assets/pdf/task-orders/NS12/N00178-04-D-4067 NS12 PWS.pdf" | relative_url }}" target="_new">Performance Work Statement (pdf download)</a></td>
    </tr>

    <tr>
      <td><strong>Current Task Order:</strong></td>
      <td><a href="{{ "/assets/pdf/task-orders/NS12/N00178-04-D-4067-NS12-36.pdf" | relative_url }}" target="_new">Mod 36 (pdf download)</a></td>
    </tr>

    <tr>
      <td><strong>Date Updated:</strong></td>
      <td>06/27/2017</td>
    </tr>
  </tbody>
</table>
