<table class="table table-bordered">
  <tbody>
    <tr class="table-active">
      <td width="175"><strong>RFP Name:</strong></td>
      <td>Commander Naval Surface Forces, US Pacific Fleet, Financial Administration and Management Support Services</td>
    </tr>

    <tr>
      <td><strong>Task Order#:</strong></td>
      <td>N00178-04-D-4067 NW01</td>
    </tr>

    <tr>
      <td><strong>RFP#:</strong></td>
      <td>N00024-15-R-3502</td>
    </tr>

    <tr>
      <td><strong>Award Date:</strong></td>
      <td>03/24/2016</td>
    </tr>

    <tr>
      <td><strong>Zone:</strong></td>
      <td>6</td>
    </tr>

    <tr>

      <td><strong>Performance Work Statement:</strong></td>
      <td>The PWS is included in the Task Order Mod.</td>
    </tr>

    <tr>
      <td><strong>Current Task Order:</strong></td>
      <td><a href="{{ "/assets/pdf/task-orders/NW01/N00178-04-D-4067-NW01-02.pdf" | relative_url }}" target="_new">Mod 2 (pdf download)</a></td>
    </tr>

    <tr>
      <td><strong>Date Updated:</strong></td>
      <td>02/27/2017</td>
    </tr>
  </tbody>
</table>
