---
layout: default
---

<div class="careers-page">

  <div class="page-intro">
    <div class="container">

      <div class="row">
        {% if page.title %}
          <h1 class="page-heading">{{ page.title }}</h1>
        {% endif %}
      </div>

      <div class="row">
        <div class="page-intro__content">
          <h3>Joining the INDUS Team will allow you to explore the many possibilities for advancement within this dynamic growth organization.</h3>
          <p>
            INDUS Technology, Inc. is an Equal Employment Opportunity employer. All qualified applicants will receive consideration for employment without regard to gender, race, national origin, age, religion, disability, sexual orientation, veteran status, marital status, or any other class protected by law (EE/AA M/F/D/V).
          </p>
        </div>
      </div>

    </div>
  </div>

  <div class="salary-benefits">
    <div class="container">
      <h2>Salary and Benefits Package</h2>
      <p>
        <strong>(Non-Service Contract Act)</strong>
      </p>
      <div class="row salary-benefits__list-wrapper">
        <ul class="salary-benefits__list">
          <li>Employee Stock Ownership Plan</li>
          <li>Retirement Saving Plan - 401K</li>
          <li>Health Benefits</li>
          <li>Medical Plans</li>
          <li>Dental Plans</li>
          <li>Vision Plan</li>
          <li>Health Advocate</li>
          <li>Company Paid Term Life and AD&D Insurance</li>
          <li>Company Paid Short Term and Long-Term</li>
          <li>Disability Insurance</li>
        </ul>
        <ul class="salary-benefits__list">
          <li>Flexible Spending Accounts for Healthcare,</li>
          <li>Dependent Care and Transportation</li>
          <li>Health Savings Account</li>
          <li>Paid Holidays (10 per year)</li>
          <li>Paid Time Off (PTO)</li>
          <li>Employee Referral Program Rewards</li>
          <li>Professional Development Opportunities</li>
          <li>Tuition Reimbursement Program</li>
          <li>Employee Assistance Program</li>
          <li>Participation in Company-Sponsored Events</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="job-postings">
    <div class="container">

      {% include careers/san-diego.html %}
      {% include careers/port-hueneme.html %}

    </div>
  </div>

</div>
