---
layout: default
---

<div class="contact-page">

  <div class="page-intro">
    <div class="container">
      <div class="row contact-page__intro-wrapper">
        <div class="contact-page__intro">
        {% if page.title %}
        <h1 class="page-heading">{{ page.title }}</h1> {% endif %}
        <h4>Corporate Headquarters<br />
          2243 San Diego Ave, Ste 200<br />
          San Diego, CA 92110
        </h4>
      </div>
      <div class="contact-page__intro-photo">
        <img src="{{ "/assets/img/contact-us-intro.jpg" | relative_url }}" alt="All Staff Members" class="senior-management__photo-img" />
      </div>
    </div>
  </div>

  <div id="map"></div>

  <div class="contact-details">
    <div class="container">

      <div class="row">
        <div class="contact-details__staff-member">
          <p>
            <strong>Eric MacGregor<br />
            President and CEO</strong>
          </p>
          <p>
            Phone: (619) 299-2555<br />
            Fax: (619) 299-2444<br />
          </p>
        </div>
        <div class="contact-details__staff-member">
          <p>
            <strong>C4ISR and Charleston Operations</strong><br />
            Will Nevilles<br />
            Sr. Vice President
          </p>
          <p>
            Phone: (619) 299-2555<br />
            Fax: (619) 299-2444<br />
            <a href="mailto:wnevilles@industechnology.com">wnevilles@industechnology.com</a>
          </p>
        </div>
      </div>

      <div class="row">
        <div class="contact-details__staff-member">
          <p>
            <strong>Vice president, Business Operations &amp; CISO</strong><br />
            Dr. Tony Lopez<br />
            Vice President, Business Development
          </p>
          <p>
            Phone: (619) 299-2555<br />
            Fax: (619) 299-2444<br />
          </p>
        </div>
        <div class="contact-details__staff-member">
          <p>
            <strong>Human Resources</strong><br />
            Jan Perez<br />
            Vice President, Human Resources
          </p>
          <p>
            Phone: (619) 299-2555<br />
            Fax: (619) 299-2444<br />
            <a href="mailto:jperez@industechnology.com">jperez@industechnology.com</a>
          </p>
        </div>
      </div>

      <div class="row">
        <div class="contact-details__security-mail">
          <p>
            <strong>Security Mail Address</strong><br />
            INDUS Technology, Inc.<br />
            Attn: Security<br />
            2243 San Diego Ave, Ste 200<br />
            San Diego, CA 92110
          </p>
          <p>
            Please call to notify the INDUS FSO, Danielle Ybarra, at (619) 299-2555 ext 334 prior to mailing security related information.
          </p>
        </div>
      </div>

    </div>
  </div>

</div>
