---
layout: default
---

<div class="home">
  <div class="home-hero">
    <div class="container">
      <h1 class="home-hero__description">We provide quality professional services for industry and government</h1>
    </div>
  </div>

  <div class="company-intro">
    <div class="container">
      <h3 class="company-intro__description">We are an employee owned, customer-focused goverment services contractor known for providing technical excellence in engineering, IT Solutions, and program management</h3>
    </div>
  </div>

  <div class="news-jobs">
    <div class="container">
      <div class="row">
        <div class="news-jobs__latest-news">
          <h3 class="news-jobs__latest-news-title">Latest News &amp; Press Releases</h3>
          <ul>
            <li><a href="#">INDUS Change of Ownership</a></li>
            <li><a href="#">INDUS Technology Awarded IMSS Recompete Task Order</a></li>
            <li><a href="#">September 2017:INDUS has Change of Ownership</a></li>
            <li><a href="#">September 2017: INDUS Technology Awarded IMSS Recompete Task</a></li>
            <li><a href="#">July 2017: INDUS Technology is Awarded Customer Support and</a></li>
            <li><a href="#">Program Management Support Services Contract</a></li>
          </ul>
        </div>
        <div class="news-jobs__hot-jobs">
          <h3 class="news-jobs__hot-jobs-title">Hot Jobs</h3>
          <ul>
            <li><a href="#">Industrial Engineer</a></li>
            <li><a href="#">Integrated Master Scheduler</a></li>
            <li><a href="#">Total Ship Test Program Support</a></li>
            <li><a href="#">Electronics Engineer</a></li>
            <li><a href="#">General Clerk III (Security)</a></li>
            <li><a href="#">Data Products Manager</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="what-we-do">
    <div class="container">
      <div class="what-we-do__content">
        <h2 class="what-we-do__title">What We Do</h2>
        <p>
          INDUS Technology, Inc. is a premier provider of quality professional services for industry and government. Our Company is synonymous with outstanding people, who take pride in partnering with our customers to provide quality services that are responsive, innovative and cost effective.
        </p>
      </div>
    </div>
  </div>

  <div class="engineering-it">
    <div class="container">
      <div class="row">
        <div class="engineering-it__photo">
          <img src="{{ "/assets/img/engineering-it.jpg" | relative_url }}" alt="Engineering and IT" class="engineering-it__photo-img" />
        </div>
        <div class="engineering-it__content">
          <h3>Engineering and IT</h3>
          <ul>
            <li>Range Systems O&M</li>
            <li>Test & Evaluation, Weapon Systems Assessment</li>
            <li>Submarine Imagery, EW, & C5I Systems Repair</li>
            <li>Logistics & Supply Support</li>
            <li>Information Assurance and Cyber Security</li>
            <li>IT, Network O&M and Applications Development</li>
            <li>MK 30 Underwater Targets O&M</li>
            <li>Test, Handling, Support Equipment O&M</li>
            <li>Shore Communications Systems Engineering</li>
            <li>Inventory and Warehouse Management</li>
            <li>Configuration Management</li>
            <li>Help Desk Services</li>
            <li>SATCOM Communications Services</li>
            <li>Engineering Assessments and Technical Analysis</li>
            <li>IA/RMF</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="program-management">
    <div class="container">
      <div class="row">
        <div class="program-management__content">
          <h3>Program Management and Command Staff</h3>
          <ul>
            <li>Strategic Planning Support</li>
            <li>Program/Project Planning</li>
            <li>Workload Planning</li>
            <li>Performance Business Indicators</li>
            <li>Obsolescence Management and Planning</li>
            <li>C4ISR Installation Planning</li>
            <li>Foreign Military Sales Case Management</li>
            <li>Command and Dept General Administrative Support</li>
            <li>Management Reports and Documentation Preparation</li>
            <li>Public Affairs and Protocol</li>
            <li>Security Admin and ESS Office/Foreign Disclosure and Visits</li>
            <li>HQ Facilities Management</li>
            <li>Workforce Optimization Support</li>
            <li>Manpower and Military Affairs Management</li>
            <li>Graphics/CAD Support</li>
            <li>Systems Design Center Support</li>
          </ul>
        </div>
        <div class="program-management__photo">
          <img src="{{ "/assets/img/program-management.jpg" | relative_url }}" alt="Program Management and Command Staff" class="program-management__photo-img" />
        </div>
      </div>
    </div>
  </div>

  <div class="financial-management">
    <div class="container">
      <div class="row">
        <div class="financial-management__photo">
          <img src="{{ "/assets/img/finanacial-management.jpg" | relative_url }}" alt="Financial Management" class="financial-management__photo-img" />
        </div>
        <div class="financial-management__content">
          <h3>Financial Management</h3>
          <ul>
            <li>Range Systems O&M</li>
            <li>Test & Evaluation, Weapon Systems Assessment</li>
            <li>Submarine Imagery, EW, & C5I Systems Repair</li>
            <li>Logistics & Supply Support</li>
            <li>Information Assurance and Cyber Security</li>
            <li>IT, Network O&M and Applications Development</li>
            <li>MK 30 Underwater Targets O&M</li>
            <li>Test, Handling, Support Equipment O&M</li>
            <li>Shore Communications Systems Engineering</li>
            <li>Inventory and Warehouse Management</li>
            <li>Configuration Management</li>
            <li>Help Desk Services</li>
            <li>SATCOM Communications Services</li>
            <li>Engineering Assessments and Technical Analysis</li>
            <li>IA/RMF</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  {{ content }}

</div>
