---
layout: default
---

<div class="home">
  <div class="home-hero">
    <div class="container">
      <h1 class="home-hero__description">We provide quality professional services for industry and government</h1>
    </div>
  </div>

  <div class="company-intro">
    <div class="container">
      <h3 class="company-intro__description">We are an employee owned, customer-focused goverment services contractor known for providing technical excellence in engineering, IT Solutions, and program management</h3>
    </div>
  </div>

  <div class="news-jobs">
    <div class="container">
      <div class="row">
        <div class="news-jobs__latest-news">
          <h3 class="news-jobs__latest-news-title">Latest News &amp; Press Releases</h3>
          <ul>
            <li><a href="#">INDUS Change of Ownership</a></li>
            <li><a href="#">INDUS Technology Awarded IMSS Recompete Task Order</a></li>
            <li><a href="#">September 2017:INDUS has Change of Ownership</a></li>
            <li><a href="#">September 2017: INDUS Technology Awarded IMSS Recompete Task</a></li>
            <li><a href="#">July 2017: INDUS Technology is Awarded Customer Support and</a></li>
            <li><a href="#">Program Management Support Services Contract</a></li>
            <li><a href="/press-releases" class="btn btn-secondary">View all</a></li>
          </ul>
        </div>
        <div class="news-jobs__hot-jobs">
          <h3 class="news-jobs__hot-jobs-title">Hot Jobs</h3>
          <ul>
            <li><a href="#">Industrial Engineer</a></li>
            <li><a href="#">Integrated Master Scheduler</a></li>
            <li><a href="#">Total Ship Test Program Support</a></li>
            <li><a href="#">Electronics Engineer</a></li>
            <li><a href="#">General Clerk III (Security)</a></li>
            <li><a href="#">Data Products Manager</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  {{ content }}

</div>
