---
layout: default
---

<div class="home">
  <div class="home-hero">
    <div class="container">
      <h1 class="home-hero__description">INDUS Technology, Inc. is a premier provider of quality professional services for industry and government.</h1>
    </div>
  </div>

  <div class="company-intro">
    <div class="container">
      <h3 class="company-intro__description">We are an employee owned, customer-focused goverment services contractor known for providing technical excellence in engineering, IT Solutions, and program management</h3>
    </div>
  </div>

  <div class="job-postings">
    <div class="container">
      {% include careers/hot-jobs.html %}
      <a href="/careers" class="btn btn-secondary">View All</a>
    </div>
  </div>

  {{ content }}

</div>
