---
layout: default
---

<div class="services-page">
  <div class="page-intro">
    <div class="container">

      <div class="row">
        {% if page.title %}
          <h1 class="page-heading">{{ page.title }}</h1>
        {% endif %}
      </div>

      <div class="row">
        <div class="page-intro__content">
          <h3>INDUS Technology, Inc. is a premier provider of quality professional services for industry and government.</h3>
          <p>
             Our Company is synonymous with outstanding people, who take pride in partnering with our customers to provide quality services that are responsive, innovative and cost effective.
          </p>
        </div>
      </div>

    </div>
  </div><!-- page-intro -->

  <div class="engineering-it">
    <div class="container">
      <div class="row">
        <div class="engineering-it__photo">
          <img src="{{ "/assets/img/engineering-it.jpg" | relative_url }}" alt="Engineering and IT" class="engineering-it__photo-img" />
        </div>
        <div class="engineering-it__content">
          <h3>Engineering and IT</h3>
          <ul>
            <li>Range Systems O&M</li>
            <li>Test & Evaluation, Weapon Systems Assessment</li>
            <li>Submarine Imagery, EW, & C5I Systems Repair</li>
            <li>Logistics & Supply Support</li>
            <li>Information Assurance and Cyber Security</li>
            <li>IT, Network O&M and Applications Development</li>
            <li>MK 30 Underwater Targets O&M</li>
            <li>Test, Handling, Support Equipment O&M</li>
            <li>Shore Communications Systems Engineering</li>
            <li>Inventory and Warehouse Management</li>
            <li>Configuration Management</li>
            <li>Help Desk Services</li>
            <li>SATCOM Communications Services</li>
            <li>Engineering Assessments and Technical Analysis</li>
            <li>IA/RMF</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="program-management">
    <div class="container">
      <div class="row">
        <div class="program-management__content">
          <h3>Program Management and Command Staff</h3>
          <ul>
            <li>Strategic Planning Support</li>
            <li>Program/Project Planning</li>
            <li>Workload Planning</li>
            <li>Performance Business Indicators</li>
            <li>Obsolescence Management and Planning</li>
            <li>C4ISR Installation Planning</li>
            <li>Foreign Military Sales Case Management</li>
            <li>Command and Dept General Administrative Support</li>
            <li>Management Reports and Documentation Preparation</li>
            <li>Public Affairs and Protocol</li>
            <li>Security Admin and ESS Office/Foreign Disclosure and Visits</li>
            <li>HQ Facilities Management</li>
            <li>Workforce Optimization Support</li>
            <li>Manpower and Military Affairs Management</li>
            <li>Graphics/CAD Support</li>
            <li>Systems Design Center Support</li>
          </ul>
        </div>
        <div class="program-management__photo">
          <img src="{{ "/assets/img/program-management.jpg" | relative_url }}" alt="Program Management and Command Staff" class="program-management__photo-img" />
        </div>
      </div>
    </div>
  </div>

  <div class="financial-management">
    <div class="container">
      <div class="row">
        <div class="financial-management__photo">
          <img src="{{ "/assets/img/finanacial-management.jpg" | relative_url }}" alt="Financial Management" class="financial-management__photo-img" />
        </div>
        <div class="financial-management__content">
          <h3>Financial Management</h3>
          <ul>
            <li>Range Systems O&M</li>
            <li>Test & Evaluation, Weapon Systems Assessment</li>
            <li>Submarine Imagery, EW, & C5I Systems Repair</li>
            <li>Logistics & Supply Support</li>
            <li>Information Assurance and Cyber Security</li>
            <li>IT, Network O&M and Applications Development</li>
            <li>MK 30 Underwater Targets O&M</li>
            <li>Test, Handling, Support Equipment O&M</li>
            <li>Shore Communications Systems Engineering</li>
            <li>Inventory and Warehouse Management</li>
            <li>Configuration Management</li>
            <li>Help Desk Services</li>
            <li>SATCOM Communications Services</li>
            <li>Engineering Assessments and Technical Analysis</li>
            <li>IA/RMF</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
